<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start" class="ion-text-center" color="secondary">
      <h1>Comidas APP</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Categorias</h1>
  </ion-text>
  <ion-card *ngFor="let cat of lista" >
    <img alt="Imagen Comida" src="{{cat.strCategoryThumb}}" (click)="verRecetas(cat.strCategory)"/>
    <ion-card-header>
      <ion-card-title class="ion-text-center" ><h2>{{cat.strCategory}}</h2></ion-card-title>
      <ion-card-subtitle>ID: {{cat.idCategory}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{cat.strCategoryDescription}}
    <</ion-card-content>
  </ion-card>
</ion-content>